*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

/*Bring the html tag into visible i.e bg colour*/

/*Top Bar*/
.topbar-cont{
    /*background-color: aquamarine;*/
    display:flex;
    justify-content: space-between;
    
}
h2{
    width: 10rem;
    text-align: center;
}
.title-cont{
    /*background-color: brown;*/
}
.nav-cont{
    /*background-color: blue;*/
    display: flex;
    width: 20rem;
    justify-content: space-between;
    align-items: center;
}
.navigation-content{
    width:20rem;
}

/*----IMPORTANT SECTION----*/
.navigation-content:hover{
    color: lightcoral;
    cursor: pointer;
}
.image-cont{
    width:98vw;
    height:80vh;
}
.image-content{
    width:100%;
    height: 95%;
}
.content{
    display: flex;
    text-align: center;
}
.similar-cont > img{
    width:10rem;
    
}
.similar-cont > h2{
    text-align: center;
    width:100%;
}
.copy-cont{
    background-color:black;
    color:white;
    height:4rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
